<h1 style="color:blue" align="center">Pandas Time Series Analysis: Period and PeriodIndex</h1>

<h3 style="color:purple">Yearly Period</h3>

In [38]:
import pandas as pd
y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [39]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [40]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [41]:
y.is_leap_year

True

<h3 style="color:purple">Monthly Period</h3>

In [42]:
m = pd.Period('2017-12')
m

Period('2017-12', 'M')

In [43]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [44]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [45]:
m+1

Period('2018-01', 'M')

<h3 style="color:purple">Daily Period</h3>

In [46]:
d = pd.Period('2016-02-28', freq='D')
d

Period('2016-02-28', 'D')

In [47]:
d.start_time

Timestamp('2016-02-28 00:00:00')

In [48]:
d.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [49]:
d+1

Period('2016-02-29', 'D')

<h3 style="color:purple">Hourly Period</h3>

In [50]:
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

Period('2017-08-15 23:00', 'H')

In [51]:
h+1

Period('2017-08-16 00:00', 'H')

<h4>Achieve same results using pandas offsets hour</h4>

In [52]:
h+pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'H')

<h3 style="color:purple">Quarterly Period</h3>

In [53]:
q1= pd.Period('2017Q1', freq='Q-JAN')
q1

Period('2017Q1', 'Q-JAN')

In [54]:
q1.start_time

Timestamp('2016-02-01 00:00:00')

In [55]:
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

<h4>Use asfreq to convert period to a different frequency</h4>

In [56]:
q1.asfreq('M',how='start')

Period('2016-02', 'M')

In [57]:
q1.asfreq('M',how='end')

Period('2016-04', 'M')

<h3 style="color:purple">Weekly Period</h3>

In [58]:
w = pd.Period('2017-07-05',freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [59]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [60]:
w2 = pd.Period('2017-08-15',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [61]:
w2-w

<h3 style="color:purple">PeriodIndex and period_range</h3>

In [62]:
r = pd.period_range('2011', '2017', freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [63]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [64]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

**Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017**

In [65]:
r = pd.period_range('2011', '2017', freq='q-jan')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [66]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [67]:
r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [71]:
idx= pd.PeriodIndex(start='2016-01', freq='3M', periods=10)

TypeError: __new__() got an unexpected keyword argument periods

In [ ]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

<h4>Partial Indexing</h4>

In [32]:
ps['2016']

NameError: name 'ps' is not defined

In [33]:
ps['2016':'2017']

NameError: name 'ps' is not defined

<h4>Converting between representations</h4>

In [34]:
pst = ps.to_timestamp()
pst

NameError: name 'ps' is not defined

In [35]:
pst.index

NameError: name 'pst' is not defined

In [36]:
ps = pst.to_period()
ps

NameError: name 'pst' is not defined

In [37]:
ps.index

NameError: name 'ps' is not defined

<h3 style="color:purple">Processing Wal Mart's Financials</h3>

In [74]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [25]:
df.set_index("Line Item",inplace=True)
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [26]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [27]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [28]:
df.index[0].start_time

Timestamp('2016-02-01 00:00:00')

<h4 style="color:green">Add start date end date columns to dataframe</h4>

In [29]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [30]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date   End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30
2017Q2      120854     89485   31369 2016-05-01 2016-07-31
2017Q3      118179     87484   30695 2016-08-01 2016-10-31
2017Q4      130936     97743   33193 2016-11-01 2017-01-31
2018Q1      117542     87688   29854 2017-02-01 2017-04-30