In [1]:
import pandas as pd

Reading from csv file and making dataframe

In [3]:
df=pd.read_csv('weather_data.csv')

In [4]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

Reading from xlsx file and making dataframe

In [5]:
df=pd.read_excel('weather.xlsx','Sheet1')

In [6]:
df

         day  temperature  windspeed  event
0 2022-01-02           34          6  Rainy
1 2022-01-03           45          7  Sunny
2 2022-01-04           46          3  Sunny
3 2022-01-05           23          3  Rainy

In [7]:
df.set_index('day')

            temperature  windspeed  event
day
2022-01-02           34          6  Rainy
2022-01-03           45          7  Sunny
2022-01-04           46          3  Sunny
2022-01-05           23          3  Rainy

Creating a dataframe with python dictionary

In [10]:
anis_data= {
    'spideys':['Tobey','Tom','Andrew'],
    'mjs':['Kirsten','Emma','Zendaya'],
    'villain1':['Goblin','Lizard','Vulture'],
    'villian2':['Otto','Electro','Mysterio'],
    'villian3':['Venom','Sandman','William']
}

In [11]:
spdf=pd.DataFrame(anis_data)

In [12]:
spdf

  spideys      mjs villain1  villian2 villian3
0   Tobey  Kirsten   Goblin      Otto    Venom
1     Tom     Emma   Lizard   Electro  Sandman
2  Andrew  Zendaya  Vulture  Mysterio  William

In [13]:
sari_data=[('Mann Mero Dhukdhukinchha','18 Feb 2021','Varsha Thapa'),
          ('Phir Kabhi','22 Aug 2021','Arijit Singh')]
df=pd.DataFrame(sari_data,columns=['song','date','originalsinger'])

In [14]:
df

                       song         date originalsinger
0  Mann Mero Dhukdhukinchha  18 Feb 2021   Varsha Thapa
1                Phir Kabhi  22 Aug 2021   Arijit Singh

In [15]:
df.set_index('song',inplace=True)

In [16]:
df

                                 date originalsinger
song
Mann Mero Dhukdhukinchha  18 Feb 2021   Varsha Thapa
Phir Kabhi                22 Aug 2021   Arijit Singh

Using list of dictionaries

In [17]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow